#shanghai-footer {
    width: 80%;
    margin-left: 10%;
    background-color: #eeeeee;
    margin-top: 1em;
    padding: 2em 0;
    position: absolute;
    left: 0;
}

#shanghai-footer a {
    color: black;
}

#shanghai-footer img {
  margin: 0 1em;
}

#shanghai-footer-right {
  margin-left: 60%;
}

#shanghai-footer-left {
  margin-left: 20%;
  float: left;
}
