
<footer class="site-footer">
    {% block footer_content %}
  <div class="container">
    <div class="row">
      <div class="span8 footer-links">
        {% block footer_nav %}
          <ul class="unstyled">
            {% block footer_links %}
              <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
            {% endblock %}
          </ul>
          <ul class="unstyled">
            {% block footer_links_ckan %}
              {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
              <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
              <li><a href="http://www.ckan.org/">{{ _('CKAN Association') }}</a></li>
              <li><a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}"></a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </div>
      <div class="span4 attribution">
        {% block footer_attribution %}
          <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
        {% block footer_lang %}
          {% snippet "snippets/language_selector.html" %}
        {% endblock %}
      </div>
    </div>
  </div>
    <div id="shanghai-footer">
      <div class="footer-el" id="shanghai-footer-left"></div>
      <div class="footer-el" id="shanghai-footer-right"><a href="http://beian.miit.gov.cn" target="_blank">沪ICP备11019437号-2 </a></div>
    </div>
    {% endblock %}

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
